<div class="box-classified">
    <table rules="none" class="table">
        <thead>
            <th scope="col">No</th>
            <th scope="col">Dokumen</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>UU No.23</td>
            </tr>
            <tr>
                <td>2</td>
                <td>UU No.24</td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>
{{!-- <h2 class="subtitle-bar">Classified Document</h2>
<div class="container">
    {{> table-classified}}
</div> --}}