<header>
    <nav>
        {{!-- <button onclick="pageReady()" class="btn-toggle"><i class="fa-2x fas fa-bars"></i></button> --}}
        {{!-- <div> --}}
            <a href=""><strong>Aradea</strong></a>
            <button class="btn-process">Logout</button>
            {{!--
        </div> --}}
    </nav>
</header>