<table rules="none" class="table" id="unclassified">
    <thead>
        <th>No</th>
        <th>Document</th>
        <th>Division</th>
    </thead>
    <tbody>
        {{#each records}}
        <tr>
            <td>{{inc @index}}</td>
            <td>
                {{#each this as |data|}}
                <a href="{{ data.path }}">{{ data.name }}</a>
                {{/each}}
            </td>
            <td>
                {{#if division}}
                {{this.division}}
                {{else}}
                Unknown
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div id="pagination-unclassified" class="pagination">
    {{!-- <a id="prev" class="active" href="#">&laquo;</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <a id="next" class="active" href="#">&raquo;</a> --}}
</div>