<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Document Classification">
    <meta name="author" content="Aradea Atfal Risdianto">
    <meta name="keyword"
        content="Machine Learning, Neural Network, Document Classification, Dokumen Perundang-undangan">
    <title>Document Classification</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="library/fontawesome/css/all.min.css">
</head>

<body>
    {{> header}}
    <main>
        <aside>
            <h3 class="title-bar">Document Classification</h3>
            <div class="sidebar">
                <a href="/"><i class="far fa-folder pr-5"></i>Unclassified Document</a>
                <a href="/agama"><i class="fab fa-gg-circle pr-5"></i>Agama</a>
                <a href="/agraria"><i class="fab fa-gg-circle pr-5"></i>Agraria</a>
                <a href="/kelautan"><i class="fab fa-gg-circle pr-5"></i>Kelautan</a>
                <a href="/kesehatan"><i class="fab fa-gg-circle pr-5"></i>Kesehatan</a>
                <a href="/keuangan"><i class="fab fa-gg-circle pr-5"></i>Keuangan</a>
                <a href="/kominfo"><i class="fab fa-gg-circle pr-5"></i>Komunikasi dan Informatika</a>
                <a href="/lingkungan-hidup"><i class="fab fa-gg-circle pr-5"></i>Lingkungan Hidup</a>
                <a href="/dikbud"><i class="fab fa-gg-circle pr-5"></i>Pendidikan dan Kebudayaan</a>
                <a href="/pertahanan"><i class="fab fa-gg-circle pr-5"></i>Pertahanan</a>
                <a href="/ristekdikti"><i class="fab fa-gg-circle pr-5"></i>Riset, Teknologi dan Pendidikan Tinggi</a>
            </div>
            <p class="footer">Document Classification&copy;2020</p>
        </aside>
        {{{body}}}
    </main>
    <script src="library/jquery/jquery-3.4.1.min.js"></script>
    <script src="javascripts/themes.js"></script>
</body>

</html>