<div class="container-fluid">
    <div id="main">
        <h3 class="title-page"><i class="fab fa-magento pr-10"></i>{{titlePage}}</h3>
        <div class="box-unclassified">
            <form action="/upload" method="post" class="form-pdf" enctype="multipart/form-data">
                <input id="pdf" name="pdf" type="file" accept="application/pdf">
                <input type="submit" name="submit" value="Upload">
            </form>
            {{#if records}}
            {{> unclassified}}
            {{else}}
            <h3 class="not-found">No Record</h3>
            {{/if}}
        </div>
        <button id="classify" class="btn-process">Classify</button>
    </div>
</div>