@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header nav {
  top: 0;
  background: gainsboro;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 10px 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
header a {
  position: relative;
  color: teal;
  font-size: .9rem;
  letter-spacing: 2px;
  line-height: 40px;
}

main {
  position: relative;
  top: 5.5rem;
  height: calc(100vh - 5.5rem);
}
aside {
  top: -5.5rem;
  position: absolute;
  width: 300px;
  background: teal;
  height: 100vh;
  padding: 1rem 0;
  z-index: 1;
}
.sidebar {
  margin-top: 2.8rem;
}
.sidebar a {
  color: white;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 7px 0 7px 7px;
  font-weight: 500;
}
.sidebar a.active, .sidebar a:hover {
  background: gainsboro;;
  color: teal;
  font-weight: 700;
}
#main {
  margin-left: 300px;
  position: relative;
}

#main .btn-process {
  position: relative;
  left: 50%;
  font-size: 1.1rem;
  padding: .5rem 1.5rem;
  margin-top: 3rem;
  transform: translateX(-50%);
}

nav .btn-process {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1.2rem;
  margin-left: 1.5rem;
}
.btn-process {
  cursor: pointer;
  font-size: 18px;
  color: teal;
  background-color: whitesmoke;
  border: 2px solid teal;
  border-radius: 5px;
  transition: 0.5s;
}

.btn-process:hover {
  background-color: teal;
  color: whitesmoke;
}

.btn-process::before,
.btn-process::after {
  content: "";
  position: absolute;
  background: teal;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.btn-process::before {
  top: 0;
  left: 0;
}

.btn-process::after {
  top: 0;
  right: 0;
}

.btn-toggle {
  cursor: pointer;
  background: transparent;
  color: teal;
  border: none;
}

*:focus {
  outline: 0;
}

.container {
  position: relative;
  padding: 25px;
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
}

.container-fluid {
  padding: 0 15px;
}

.break {
  word-break: break-all;
}

.d-block {
  display: block;
}

a {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: gainsboro;
  text-align: center;
  width: 100%;
}

.title-bar {
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 0 5px;
}

.title-page {
  color:white;
  width: 100%;
  letter-spacing: 1px;
  background: teal;
  padding: 7px 15px;
  border-radius: 8px;
}

.subtitle-bar {
  display: block;
  position: relative;
  width: 100%;
  color: teal;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 100px;
}

.table {
  width: 100%;
  text-align: center;
}

.table thead {
  background-color: teal;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}


.table thead th {
  padding: 10px;
}
.table thead th:nth-child(1) {
  width: 50px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.table thead th:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.table tbody {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.table tbody a {
  color: rgb(100, 100, 100);
  transition: 0.3s;
}

.table tbody a:hover {
  font-weight: 700;
  color: teal;
}

.table tbody tr td {
  padding: 5px 10px;
  font-size: 14px;
}

.table tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

.table tbody tr:nth-child(even) {
  background-color: gainsboro;
}

.box-classified {
  height: auto;
  margin-top: 1.8rem;
  padding: 5px;
  border: none;
  box-shadow: 0 5px 10px gray;
}

.box-unclassified {
  height: auto;
  margin-top: 1rem;
  padding: 5px;
  border: none;
  box-shadow: 0 5px 10px gray;
}
.box-unclassified, .box-classified {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60%;
  border-radius: 7px;
  transform: translate(-50%, 10%);
}

.btn-process:hover::before,
.btn-process:hover::after {
  width: 50%;
}

.pagination {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination a {
  color: rgb(80, 80, 80);
  float: left;
  padding: 8px 16px;
  transition: 0.5s linear;
  text-decoration: none;
}

.pagination a.active {
  background-color: teal;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: gainsboro;
  border-radius: 5px;
}
.form-pdf input[type="file"], .form-pdf input[type="submit"] {
  cursor: pointer;
  background-color: teal;
  color: white;
  margin-bottom: 1rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.form-pdf input[type="submit"] {
  padding: 8px 16px;
  margin-left: .5rem;
}

.not-found {
  text-align: center;
  padding: 10px 0;
  color: gray
}


@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: 50% 50%;
  }
  .box-unclassified, .box-classified {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    grid-template-columns: 100%;
  }
  .box-unclassified, .box-classified {
    width: 100%;
  }
}
